---
import Layout from "../layouts/Layout.astro";
import Dishes from "../components/Dishes.astro"
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro"
---

<Layout title="Thai Woks - Asian Flavor in Melbourne">
	<main>
		<Nav/>
		<Hero/>
		<Dishes/>
	</main>
</Layout>
