---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<article class="flex flex-col p-5 rounded-xl text-white bg-opacity-70 backdrop-filter
	backdrop-blur-lg w-1/3 items-center gap-2 shadow-lg">
		<div class="">
			<img src={href} class="max-w-[200px] mt-[-60px]">
		</div>
		<div class="flex flex-col gap-1">
			<h3 class="text-xl font-semibold text-start">{title}</h3>
			<p class="text-start text-sm">{body}</p>
		</div>		
</article>


