---
import Dish from "./Dish.astro"

const dishes = [
    {
        title: "Chicken Teriyaki",
        body: "Tender chicken strips marinated in ginger, onion, mirin & soy sauce, served with vibrant green vegetables and perfectly steamed rice.",
        href: "./dish.png"
    },
    {
        title: "Pad Thai",
        body: "A perfect blend of rice noodles, chicken, and shrimp tossed with authentic Asian vegetables.",
        href: "./dish2.png"
    },
    {
        title: "Gang Keow Whan",
        body: "Marinated chicken with mild green curry, bok choy, and mushrooms, served with jasmine rice.",
        href: "./dish3.png"
    }

]

---

<section class="flex flex-col gap-5 mb-20 px-20">
    <h1 class="text-3xl font-bold text-pink-300 mb-10">Explore our culinary delights</h1>
    <div class="flex gap-7">
        {
            dishes.map(dish=> (
                <Dish title={dish.title} body={dish.body} href={dish.href} />
            ))
        }
    </div>
</section>