<footer class="bg-slate-900 text-white rounded-t-3xl flex flex-col items-center
bg-opacity-85 backdrop-filter backdrop-blur-lg p-10 gap-4">
    <div class="flex text-3xl items-center gap-4">
        <a href="./"><span class="icon-[mdi--instagram]"></span></a>
        <a href="./"><span class="icon-[ci--mail] text-4xl"></span></a>
        <a href="./"><span class="icon-[mdi--facebook]"></span></a>
    </div>

    <div class="flex justify-center gap-24">
        <div class="flex flex-col">
            <a href="">Feature</a>
            <a href="">Feature</a>
            <a href="">Feature</a>
            <a href="">Feature</a>
            <a href="">Feature</a>
            <a href="">Feature</a>
            <a href="">Feature</a>
        </div>

        <div class="flex flex-col">
            <a href="">Contact info</a>
            <a href="">Contact info</a>
            <a href="">Contact info</a>
            <a href="">Contact info</a>
        </div>

        <div class="flex flex-col">
            <a href="">Legal info</a>
            <a href="">Legal info</a>
            <a href="">Legal info</a>
            <a href="">Legal info</a>
            <a href="">Legal info</a>
            <a href="">Legal info</a>
        </div>

    </div>

    <p>Made with love by <a href="https://kevinperdomo.netlify.app">@vinxcodejs</a></p>

</footer>