<header class="flex flex-col lg:flex-row-reverse p-4 md:px-20 items-center">
  <div class="w-full lg:w-5/12 my-[-50px] lg:my-0 max-w-[500px]">
    <img src="./hero-ilus2.png" alt="Ilustration" />
  </div>
  <div class="w-full lg:w-7/12 flex flex-col text-white gap-3">
    <p
      class="rounded-full py-2 px-7 w-1/2 border-2 border-green-700 bg-green-200 text-green-700 flex items-center gap-3
    font-semibold"
    >
      Restaurant is open now
      <span class="icon-[medical-icon--restaurant] text-green-700"></span>
    </p>
    <h1 class="text-5xl font-black">
      Embark on a Flavorful Journey with
      <span class="text-pink-300">Flying Woks</span>
    </h1>
    <h3 class="text-2xl">
      Authentic Asian Cuisine Cooked Fresh for Every Occasion
    </h3>
    <div class="flex gap-2">
      <button
        class="bg-red-600 py-3 rounded-lg font-semibold w-1/2 backdrop-filter backdrop-blur-lg bg-opacity-80
				hover:bg-red-500"
        >Order now</button
      >
      <button
        class="border-2 border-gray-100 py-3 rounded-lg font-semibold w-1/2 backdrop-filter backdrop-blur-lg bg-opacity-80
				"
        >Book Catering</button
      >
    </div>
  </div>
</header>
