<div class="p-5">
    <nav
        class="bg-grey-200 w-full shadow-md text-sm font-semibold text-white bg-opacity-70 backdrop-filter
backdrop-blur-lg py-3 px-10 rounded-full flex justify-between items-center"
    >
        <div class="flex gap-3">
            <a href="./" class="text-pink-300 font-black">Flying Woks</a>
            <ul><a href="#">About us</a></ul>
        </div>
        <a href="#" class="icon-[mdi--cart] text-lg"></a>
    </nav>
</div>