---
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="./favicon.ico" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen w-full flex justify-center items-center">
			<div class="w-full min-h-screen bg-gray-400 rounded-xl bg-opacity-30 backdrop-filter backdrop-blur-lg">
				
				<div class="w-full lg:w-[1080px] mx-auto">
					<slot />
				</div>
				<Footer/>
				
			</div>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		background-image: url("https://images.pexels.com/photos/9832637/pexels-photo-9832637.jpeg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
</style>
